keras-core
tensorflow
tensorflow-addons
tf-clahe
opencv-python
tf_clahe
numpy
pandas
array-record
tqdm
keras_cv~=0.5.0
scipy
matplotlib
scikit-image
scikit-learn
ultralytics
streamlit
Pillow
Flask
flask-cors